@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
  background: #000000;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  color: #FFFFFF;
}

#happy {
  background: #EEEE99;
  color: #000000;
  float: left;
  width: 45%;
  padding: 5px;
  margin: 0px 20px;

}

#sad {
  background: #9999EE;
  color: #000000;
  float: right
  width: 45%;
  padding: 5px;
  margin: 0px 20px;

}

#result {
  color: #000000;
  margin: 0px 20px;
  padding: 1px;
}

.box {
}